[Unit]
Description=Cloud Operating System
After=network.target
After=postgresql-11.service

[Service]
User=cloudos
Group=cloudos
WorkingDirectory=/opt/cloudos/cloudos/
Type=forking

Environment="RAILS_ENV=production"
ExecStart=/opt/cloudos/.rbenv/shims/puma -d -C /opt/cloudos/cloudos/config/puma.rb

# restart service if it is failed for more than 30 seconds.
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
